<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'post:home' %}">VLAG.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post:list-category' %}">Categories</a>
      </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Account
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          {% if user.profile.id %}
            <a class="dropdown-item" href="{% url 'profile' user.profile.id %}">View Profile</a>
          {% else %}
            <a class="dropdown-item" href="{% url 'create-info' %}">View Profile</a>
          {% endif %}
            <a class="dropdown-item" href="{% url 'edit-profile' %}">Account Settings</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>